.App {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 175px;
}

.Events {
  box-shadow: 1px, gray;
}

h1 {
  color: #00556e;
  font-size: 50px;
}

form{
  margin-top: 50px;
}

.Title{
  margin-top: 200px;
  margin-bottom: 50px;
}

