.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(225, 34, 34, 0.5);
    border-radius: 40px;
}
.searchbar input{
    border: 0;
    background: transparent;
    outline: none;
    line-height: 1;
    font-size: 18px;
    color: #00556e;
    padding: 24 20px;
}
::placeholder{
    color: #00556e;
}

.searchbar button img{
    width: 20px;
    height: 20px;
}
